//Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-darken: #673c9a;
$color-secondary-darken: #b35599;
//polices
$font-size-XL: 1.65em;
$font-size-M: 1.2em;
$font-size-S: 1.1em;
$font-weight-XL: 600;
$font-weight-L: 500;
$font-weight-M: 400;
$font-weight-S: 300;