body {
    width: 375px;
    margin: auto;
    margin-bottom: 0;
}
#bloc-page {
    width: 375px;
    margin: auto;
    margin-bottom: 0;
    
}

a {
    text-decoration: none;
}

@media all and (min-width: 375px)
{
    body {
        width: auto;
    }

    #bloc-page {
        width: auto;
    }
}