.fa-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    font-size: 3em;
    animation: loading-spinner 3s both;
    z-index: 4;
    color: $color-primary;
}

.loading_background {
    position: fixed;
    width: 375px;
    height: 100%;
    background-color: $background-secondary;
    z-index: 3;
    animation: loading_background_opacity 2s 2s both;

}

@keyframes loading-spinner {
    0% {
        rotate: 0turn;
    }

    25% {
        rotate: 1turn;
    }

    30% {
        rotate: 1turn;
    }
    
    55% { 
        rotate: 2turn;
    }

    60% { 
        rotate: 2turn;
    }

    85% {
        rotate: 3turn;
        opacity: 1;
    }

    100% {
        opacity: 0;
        rotate: 3turn;
    }
}

@keyframes loading_background_opacity {
    0% {
        opacity: 1;
    }
    99% {
        z-index: 3;
    }

    100% {
        opacity: 0;
        z-index: -3;
    }
}