@font-face {
  font-family: 'Shrikhand';
  src: url("/police/shrikhand-regular-webfont.woff2") format("woff2"), url("/police/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#bloc-page {
  font-family: 'Roboto', sans-serif;
}

.boxhead__localisation {
  font-size: 1.1em;
  font-weight: 500;
}

.boxhead__heading h2 {
  font-size: 1.65em;
  font-weight: 600;
}

.boxhead__heading p {
  font-size: 1.2em;
  font-weight: 300;
}

.btn {
  font-size: 1.1em;
  font-weight: 400;
}

.steps__elements i {
  font-size: 1.2em;
}

.steps__elements p {
  font-size: 1em;
  font-weight: 500;
}

.name h4 {
  font-size: 1.1em;
  font-weight: 600;
}

.name p {
  font-size: 1.1em;
  font-weight: 300;
}

.new {
  font-size: 1em;
  font-weight: 600;
}

.like i {
  font-size: 1.7em;
}

footer h3 {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.2em;
}

footer ul {
  font-size: 1em;
}

footer i {
  font-size: 0.8em;
}

.restaurant-name h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.7em;
}

.restaurant-name i {
  font-size: 1.7em;
}

.type h3 {
  font-size: 1.1em;
  font-weight: 300;
}

.type .underline {
  font-size: 1.1em;
}

.dishes__name {
  font-size: 1.2em;
  font-weight: 500;
}

.dishes__description p {
  font-size: 1em;
  font-weight: 300;
}

.dishes__description .price {
  font-size: 1em;
  font-weight: 500;
}

body {
  width: 375px;
  margin: auto;
  margin-bottom: 0;
}

#bloc-page {
  width: 375px;
  margin: auto;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

@media all and (min-width: 375px) {
  body {
    width: auto;
  }
  #bloc-page {
    width: auto;
  }
}

header h1 {
  text-align: center;
  margin-bottom: 0.2em;
  margin-top: 0;
  padding-top: 0.5em;
}

.boxhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxhead__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(#bbbbbb, #eaeaea 5px);
  width: 100%;
  text-align: center;
  color: #464646;
}

.boxhead__localisation i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1em;
}

.boxhead__heading {
  text-align: center;
  background-color: #f6f6f6;
}

.boxhead__heading h2 {
  padding: 1.5em 1.5em 0.5em;
  margin: 0;
}

.boxhead__heading p {
  color: #444444;
  margin: 0;
  padding: 0 0.5em 1em;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-top: 0.5em;
  font-size: 28px;
}

.arrow img {
  margin: auto;
}

.arrow i {
  position: absolute;
  top: 0.63em;
  left: 1em;
  font-size: 28px;
}

.arrow a i {
  color: black;
}

.arrow a i:hover {
  color: #FF79DA;
}

.header__img {
  width: 100%;
  height: 250px;
  z-index: -1;
}

.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (min-width: 375px) {
  .boxhead__heading {
    width: 100%;
  }
}

#working {
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

.steps {
  list-style-type: none;
  width: 95%;
  margin: auto;
}

.steps__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 0;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  margin-bottom: 1.4em;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.steps__elements:hover {
  background-color: #fcf4ff;
}

.steps__elements:hover i {
  color: #9356DC;
}

.steps__elements .number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -13px;
  bottom: 50%;
  background-color: #9356DC;
  color: white;
  height: 26px;
  width: 26px;
  margin-bottom: -13px;
  border-radius: 50%;
}

.steps__elements i {
  margin: 0 1em 0 2em;
  width: 21.6px;
  color: #7e7d7d;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

@media all and (min-width: 376px) and (max-width: 1024px) {
  p {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .steps__elements {
    padding-right: 2em;
    width: 25%;
    justify-items: flex-end;
    text-align: center;
  }
  .steps__elements p {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}

nav {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  margin-top: 5em;
}

nav h2 {
  width: 88%;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  text-decoration: none;
  color: black;
}

.restaurant_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 376px) and (max-width: 1024px) {
  .restaurant_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav a {
    max-width: 330px;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media all and (min-width: 1025px) and (max-width: 1448px) {
  .restaurant_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav a {
    max-width: 45%;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media all and (min-width: 1449px) {
  .restaurant_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav a {
    max-width: 22%;
    margin-left: 1em;
    margin-right: 1em;
  }
}

footer {
  background-color: #3a3939;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

footer h3 {
  margin-top: 0;
  padding-left: 32px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #FF79DA;
}

footer ul {
  padding-left: 32px;
  margin-top: .2em;
  margin-bottom: 0;
  padding-bottom: .4em;
}

footer i {
  width: 16px;
  margin-right: .4em;
}

.menu {
  background-color: #f6f6f6;
  margin: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-name {
  position: relative;
  top: -40px;
  background-color: #f6f6f6;
  border-radius: 2.2em 2.2em 0 0;
  padding: 1em 0 0 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.restaurant-name h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.8em;
}

.restaurant-name i {
  margin-right: 1.2em;
  position: relative;
}

.restaurant-name i:hover .white_menu_header {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.restaurant-name i:hover::before {
  opacity: 0;
}

.restaurant-name i::before {
  z-index: 1;
  position: relative;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.restaurant-name i::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  color: #FF79DA;
}

.white_menu_header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  z-index: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.type {
  margin-bottom: 2.5em;
  overflow: hidden;
}

.type h3 {
  text-transform: uppercase;
  padding-left: 1.3em;
  margin-bottom: 0.25em;
}

.type .underline {
  height: 3px;
  width: 11%;
  background-color: #99E2D0;
  margin-left: 1.3em;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  -webkit-animation: menu-translate 1000ms 2000ms both;
          animation: menu-translate 1000ms 2000ms both;
}

.test2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  -webkit-animation: menu-translate 1000ms 2150ms both;
          animation: menu-translate 1000ms 2150ms both;
}

.test3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  -webkit-animation: menu-translate 1000ms 2300ms both;
          animation: menu-translate 1000ms 2300ms both;
}

.test4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  -webkit-animation: menu-translate 1000ms 2450ms both;
          animation: menu-translate 1000ms 2450ms both;
}

@-webkit-keyframes menu-translate {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menu-translate {
  0% {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 0;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
}

.dishes {
  background-color: white;
  margin: 0;
  margin-right: 0;
  padding: 0.8em;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
  white-space: nowrap;
}

.dishes:hover + .validate {
  padding-right: 1em;
  padding-left: 1em;
  width: 50px;
}

.dishes:hover + .validate i {
  -webkit-transform: translateY(0%) rotate(0deg);
          transform: translateY(0%) rotate(0deg);
}

.dishes__name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dishes__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: none;
}

.validate {
  background-color: #99E2D0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75.6px;
  width: 0%;
  overflow: hidden;
  margin: 0;
  margin-left: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.validate i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.65em;
  margin: auto;
  -webkit-transform: translateX(100%) rotate(-720deg);
          transform: translateX(100%) rotate(-720deg);
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dishes__description {
  padding-top: 0.3em;
}

.dishes__description p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dishes__description .price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1em;
}

.menu .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0em 3em 0 3em;
  margin-top: 0;
}

.card {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  margin-bottom: 2em;
  overflow: hidden;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
}

.card__img {
  height: 70%;
  width: 100%;
  position: relative;
}

.card__img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__img .new {
  position: absolute;
  top: 1em;
  right: 1em;
  color: #189576;
  background-color: #99e2d0;
  padding: 0.45em 0.8em;
}

.card__description {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.name h4 {
  margin: 0 0 0.25em 1em;
}

.name p {
  margin: 0.25em 0 0 1em;
}

.like {
  margin-right: 1.5em;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 27.2px;
  width: 27.2px;
}

.like .fa-solid {
  color: #FF79DA;
  position: absolute;
  left: 0;
  z-index: 0;
  opacity: 1;
}

.like .fa-regular {
  z-index: 2;
  position: absolute;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.like .fa-regular:hover {
  opacity: 0;
}

.like .fa-regular:hover + .white {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.like .white {
  z-index: 1;
  position: absolute;
  height: 27.2px;
  width: 27.2px;
  background-color: white;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  margin-bottom: 3.5em;
  margin-top: 0.8em;
  height: 3em;
  border: none;
  border-radius: 2em;
  padding: 0 1.5em 0.1em;
  -webkit-box-shadow: #dbdbdb 0 0.3em 0.5em;
          box-shadow: #dbdbdb 0 0.3em 0.5em;
  position: relative;
  z-index: 1;
}

.btn:hover .btn__bg {
  opacity: 1;
}

.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc8cdc), to(#9c66df));
  background: linear-gradient(#fc8cdc, #9c66df);
  opacity: 0;
  border-radius: 2em;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-box-shadow: #b1b1b1 0em 0.3em 0.5em;
          box-shadow: #b1b1b1 0em 0.3em 0.5em;
}

.fa-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -24px;
  font-size: 3em;
  -webkit-animation: loading-spinner 3s both;
          animation: loading-spinner 3s both;
  z-index: 4;
  color: #9356DC;
}

.loading_background {
  position: fixed;
  width: 375px;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 3;
  -webkit-animation: loading_background_opacity 2s 2s both;
          animation: loading_background_opacity 2s 2s both;
}

@-webkit-keyframes loading-spinner {
  0% {
    rotate: 0turn;
  }
  25% {
    rotate: 1turn;
  }
  30% {
    rotate: 1turn;
  }
  55% {
    rotate: 2turn;
  }
  60% {
    rotate: 2turn;
  }
  85% {
    rotate: 3turn;
    opacity: 1;
  }
  100% {
    opacity: 0;
    rotate: 3turn;
  }
}

@keyframes loading-spinner {
  0% {
    rotate: 0turn;
  }
  25% {
    rotate: 1turn;
  }
  30% {
    rotate: 1turn;
  }
  55% {
    rotate: 2turn;
  }
  60% {
    rotate: 2turn;
  }
  85% {
    rotate: 3turn;
    opacity: 1;
  }
  100% {
    opacity: 0;
    rotate: 3turn;
  }
}

@-webkit-keyframes loading_background_opacity {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes loading_background_opacity {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
/*# sourceMappingURL=main.css.map */