#bloc-page {
  font-family: 'Roboto', sans-serif;
}

.boxhead__localisation {
  font-size: 1.1em;
  font-weight: 500;
}

.boxhead__heading h2 {
  font-size: 1.65em;
  font-weight: 600;
}

.boxhead__heading p {
  font-size: 1.2em;
  font-weight: 300;
}

.btn {
  font-size: 1.1em;
  font-weight: 400;
}

.steps__elements i {
  font-size: 1.2em;
}

.steps__elements p {
  font-size: 1em;
  font-weight: 500;
}

.name h4 {
  font-size: 1.1em;
  font-weight: 600;
}

.name p {
  font-size: 1.1em;
  font-weight: 300;
}

.like i {
  font-size: 1.8em;
}

#bloc-page {
  width: 375px;
  margin: auto;
}

header h1 {
  text-align: center;
  margin-bottom: 0.2em;
}

.boxhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxhead__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(#bbbbbb, #eaeaea 5px);
  width: 100%;
  text-align: center;
  color: #464646;
}

.boxhead__localisation i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1em;
}

.boxhead__heading {
  text-align: center;
  background-color: #f6f6f6;
}

.boxhead__heading h2 {
  padding: 1.5em 1.5em 0.5em;
  margin: 0;
}

.boxhead__heading p {
  color: #444444;
  margin: 0;
  padding: 0 0.5em 1em;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  margin-bottom: 3.5em;
  margin-top: 0.8em;
  height: 3em;
  border: none;
  border-radius: 2em;
  padding: 0 1.5em 0.1em;
  -webkit-box-shadow: #c5c5c5 0 0.3em 0.5em;
          box-shadow: #c5c5c5 0 0.3em 0.5em;
  position: relative;
  z-index: 1;
}

.btn:hover .btn__bg {
  opacity: 1;
}

.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#b35599), to(#673c9a));
  background: linear-gradient(#b35599, #673c9a);
  opacity: 0;
  border-radius: 2em;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-box-shadow: #b1b1b1 0em 0.3em 0.5em;
          box-shadow: #b1b1b1 0em 0.3em 0.5em;
}

#working {
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

.steps {
  list-style-type: none;
  width: 95%;
  margin: auto;
}

.steps__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 0;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5em;
  border-radius: 1.5em;
  -webkit-box-shadow: #dfdfdf 0 0.3em 0.5em;
          box-shadow: #dfdfdf 0 0.3em 0.5em;
  margin-bottom: 1.4em;
}

.steps__elements .number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -13px;
  bottom: 50%;
  background-color: #9356DC;
  color: white;
  height: 26px;
  width: 26px;
  margin-bottom: -13px;
  border-radius: 50%;
}

.steps__elements i {
  margin: 0 1em 0 2em;
  width: 21.6px;
  color: #7e7d7d;
}

.pink {
  background-color: #fcf4ff;
}

.pink i {
  color: #9356DC;
}

nav {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h2 {
  width: 88%;
  margin-top: 2em;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  text-decoration: none;
  color: black;
}

.card {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  margin-bottom: 2em;
  overflow: hidden;
  -webkit-box-shadow: #c5c5c5 0 0.3em 0.5em;
          box-shadow: #c5c5c5 0 0.3em 0.5em;
}

.card__img {
  height: 75%;
  width: 100%;
}

.card__img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__description {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name h4 {
  margin: 0 0 0.25em 1em;
}

.name p {
  margin: 0.25em 0 0 1em;
}

.like {
  margin-right: 1.5em;
}
/*# sourceMappingURL=main.css.map */