header {
    h1 {
        text-align: center;
        margin-bottom: 0.2em;

    }
}

//homepage

.boxhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__localisation {
        display: flex;
        justify-content: center;
        background: linear-gradient(#bbbbbb, #eaeaea 5px);
        width: 100%;
        text-align: center;
        color: #464646;
        i {
            align-self: center;
            margin-right: 1em;
        }
    }
}

.boxhead__heading {
    text-align: center;
    background-color: $background-secondary;
    h2 {
        padding: 1.5em 1.5em 0.5em;
        margin: 0;
    }
    p {
        color: rgb(68, 68, 68);
        margin: 0;
        padding: 0 0.5em 1em;
    }
}

.btn {
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    margin-bottom: 3.5em;
    margin-top: 0.8em;
    height: 3em;
    border: none;
    border-radius: 2em;
    padding: 0 1.5em 0.1em;
    @include shadowbox;
    position: relative;
    z-index: 1;
    &:hover {
        & .btn__bg {
            opacity: 1;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient($color-secondary-darken, $color-primary-darken);
        opacity: 0;
        border-radius: 2em;
        transition: opacity 300ms;
        box-shadow: #b1b1b1 0em 0.3em 0.5em;

    }
}

//à la française

.arrow {
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    img {
        margin: auto;
    }
    i {
        position: absolute;
        top: 3px;
        left: 1em;
        font-size: 28px;
        color: black;
        &:hover {
            color: $color-tertiary;
        }
    }
    
}








.header__img {
    width: 100%;
    z-index: -1;
    img {
        width: 100%;
        object-fit: cover;
    }
}