nav {
    background-color: $background-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 5em;
    h2 {
        width: 88%;
    }
    a {
        display: flex;
        width: 88%;
        text-decoration: none;
        color: black;
    }

}