.menu {
    background-color: $background-secondary;
    margin: 0;
    position: relative;
    bottom: 50px;
    z-index: 1;
    margin-top: 0;
    padding-top: 2.2em;
    border-radius: 2.2em 2.2em; 
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1em;
    }
    i {
        margin-right: 1.5em;
    }
}
.dishes {
    background-color: white;
    margin: 1em;
    padding: 0.8em;
    @include shadowbox;
    border-radius: 1em;
    &__name {

    }
    &__description {
        display: flex;
        justify-content: space-between;
    }

}

.dishes__description {
    padding-top: 0.3em;
    p{
        margin: 0;
    }
    .price {
        align-self: center;
    }
}