.menu {
    background-color: $background-secondary;
    margin: 0;
    position: relative;
    bottom: 50px;
    z-index: 1;
    margin-top: 0;
    padding-top: 2.2em;
    border-radius: 2.2em 2.2em 0 0 ;
    display: flex;
    flex-direction: column; 
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0.8em;
    }
    i {
        margin-right: 1.2em;
    }
}

.type {
    margin-bottom: 2.5em;
    overflow: hidden;
    h3 {
        text-transform: uppercase;
        padding-left: 1.3em;
        margin-bottom: 0.25em;
    }
    .underline {
        height: 3px;
        width: 11%;
        background-color: $color-tertiary;
        margin-left: 1.3em;

    }
}
.test {
    display: flex;
    margin: 1em;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    @include shadowbox;
    animation: menu-translate 1000ms;
}

.test2 {
    display: flex;
    margin: 1em;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    @include shadowbox;
    animation: menu-translate 1000ms 150ms both;
}

.test3 {
    display: flex;
    margin: 1em;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    @include shadowbox;
    animation: menu-translate 1000ms 300ms both;
}
@keyframes menu-translate {
    0% {
        transform: translateY(500%);
    }

    100% {
        transform: translateY(0%);
    }
}

.border {
    display: flex;
    margin: 1em;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    @include shadowbox;
}


.dishes {
    background-color: white;
    margin: 0;
    margin-right: 0;
    padding: 0.8em;
    @include shadowbox;
    width: 100%;
    transition: all 1s;
    overflow: hidden;
    white-space: nowrap;
    
    &:hover + .validate {
        padding-right: 1em;
        padding-left: 1em;
        width: 50px;
        i{
            transform:  translateY(0%) rotate(0deg);
        }
    }
    &__name {
        text-overflow: ellipsis;
        overflow: hidden;

    }
    &__description {
        display: flex;
        justify-content: space-between;
        text-transform: none; 
        
    } 
}

.validate {
    background-color: $color-tertiary;
    padding-left: 0;
    padding-right: 0;
    @include shadowbox;
    display: flex;
    height: 75.6px;
    width: 0%;
    overflow: hidden;
    margin: 0;
    margin-left: 0;
    transition: all 400ms;
    i{
        align-self: center;
        color: white;
        font-size: $font-size-XL;
        margin: auto;
        transform: translateX(100%) rotate(-720deg);
        transition: all 400ms;
        animation-fill-mode: forwards;

    }
}

.dishes__description {
    padding-top: 0.3em;
    p{
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .price {
        align-self: center;
        padding-left: 1em;
    }
}



.menu .btn {
    align-self: center;
    padding: 0em 3em 0 3em;
    margin-top: 0;

}

.not-homepage {
    position: relative;
    bottom: 50px;
}